@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.body{
    background-color: #ebf0f0;
    font-family: 'Open Sans',serif;
}

.container .main_bnr{
    margin: 30px 0 15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 6px;
    background-size: cover;
    padding: 46px 63px 49px;
    color: #fff;
}

.container .main_bnr .main_title{
    max-width: 640px;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.container .main_bnr .main_bnr_btn{
    height: 60px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff6400;
    border-radius: 6px;
    padding: 0 5px;
    margin-top: 15px;
    flex-wrap: wrap;
    word-wrap: break-word;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

.container h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container .sponsor_image {
    display: flex;
    justify-content: center;
}
.container .sponsor{
   width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}

.avatar img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}



